html{
    background-color: #a8b3c7;
}

body{
    font-size: 1.2em;
    width: 350px;
    height: 900px;
    padding: 10px;
    border: 2px black solid;
    margin: 10px auto 0px auto;
    background-color: whitesmoke;
}

.text_label {					
	float: left;
	width: 100px;
	text-align: right;
	padding: 0px 10px 0px 0px;
	font-weight: bold;
}

.text_input {				 		
	width: 200px;
	text-align: left;
	padding: 0px 0px 0px 10px;
}

div { padding: 5px 0px 5px 0px;	/* total width = 112 + 162 = 324 */
    width: 324px;}

fieldset {padding: 5px;		/* total width = 324+5+5 (padding)= 334 */
        width: 334px;
        background-color:rgb(240, 240, 240);
        border-width: 5px;
}

legend{
    font-weight: bold;
    font-size: 1.2em;
}

input{
    border: 2px solid rgb(1, 145, 44);
    border-radius: 4px;

  }

input:focus {
    background-color: lightblue;
}

#submit{
    background-color: #4CAF50;
    border: none;
    color: white;
    margin-top: 15px;;
    padding: 16px 32px;
    font-size: 1.5em;
    border: 2px black solid;
    border-radius: 25px;
}

#submit:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

#submit:active {
    background-color: #428b44;
    box-shadow: 0 5px rgba(0,0,0,0.24);
    transform: translateY(4px);
}